@use "../utils" as *;

:root {
      --transition-hover: 150ms ease;

      &[data-mode="day"] {
            --bg-image: url("../assets/mobile/bg-image-daytime.jpg");
            @include breakpoint-up(medium) {
                  --bg-image: url("../assets/tablet/bg-image-daytime.jpg");
            }
            @include breakpoint-up(large) {
                  --bg-image: url("../assets/desktop/bg-image-daytime.jpg");
            }
      }

      &[data-mode="night"] {
            --bg-image: url("../assets/mobile/bg-image-nighttime.jpg");
            @include breakpoint-up(medium) {
                  --bg-image: url("../assets/tablet/bg-image-nighttime.jpg");
            }
            @include breakpoint-up(large) {
                  --bg-image: url("../assets/desktop/bg-image-nighttime.jpg");
            }
      }
}
