@use "../utils" as *;

.data-box {
      color: var(--text-secondary);

      @include breakpoint(small) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-block-end: 1.5rem;
      }

      &__heading {
            margin: 0;
      }
      &__data {
            margin: 0;
      }
}
