@use "../utils" as *;

.expand-button {
      $r: &;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(9) rem(9) rem(9) rem(21);
      border-radius: 100rem;
      border: none;
      background: white;
      cursor: pointer;

      &__text {
            position: relative;
            overflow: hidden;
            color: var(--text-gray);
            letter-spacing: 0.4em;
            text-transform: uppercase;

            span {
                  display: block;

                  transition: var(--transition-hover);
                  &:nth-child(2) {
                        position: absolute;
                        left: 0;
                        top: 0;
                  }
            }
            [aria-hidden="true"] {
                  transform: translateY(var(--translate));
            }
            [aria-hidden="false"] {
                  transform: translateY(0);
            }
      }
      &__icon {
            position: relative;
            margin-inline-start: rem(8);
            aspect-ratio: 1;
            width: rem(40);
            background: rgb(30, 30, 30);
            border-radius: 50%;
            transition: var(--transition-hover);
            transform: rotateX(180deg);

            #{$r}:hover & {
                  background: rgb(134, 134, 134);
            }

            #{$r}[aria-pressed="true"] & {
                  transform: rotateX(0);
            }

            &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  aspect-ratio: 1;
                  width: rem(10);
                  border-right: 2px solid white;
                  border-bottom: 2px solid white;
                  transform: translate(-50%, -60%) rotate(45deg);
            }
      }
}
