@use "../utils" as *;

.quotation {
      display: grid;
      gap: rem(15);
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas: "text btn" "author .";
      height: fit-content;
      max-height: rem(150);
      overflow: hidden;
      &__text {
            grid-area: text;
            margin: 0;
            line-height: 1.7;
      }
      &__author {
            grid-area: author;
            font-weight: 700;
      }
      .replace-button {
            grid-area: btn;
            place-self: start;
      }
}
